<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lwfAnimationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28ED164C1F42D1A9009CAEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28ED16651F42D1A9009CAEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28ED16701F42D1A9009CAEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
